<template>
  <div v-show="alertList.length > 0"></div>
</template>
<script>
export default {
  name: 'Alert',
  props: {
    alertList: {
      type: Array,
      required: false
    }
  },
  updated () {
    const self = this
    if (self.alertList) {
      self.alertList.forEach((message) => {
        self.$message({
          showClose: true,
          message: message.descricao,
          type: message.tipo,
          duration: message.tipo === 'error' ? 0 : 5000
        })
      })
    }
  }
}
</script>
