<template>
  <div class="m-5">
    <h1 class="mb-4">Não autenticado</h1>
    <p>Você não está autenticado ou sua sessão expirou.</p>
    <p>Para retornar ao sistema, efetue o <a href="#" @click.prevent="logout">login</a> novamente.</p>
  </div>
</template>
<script>
/**
 * Unauthorized
 */
export default {
  name: 'unauthorized',
  data () {
    return {
    }
  },
  methods: {
    logout () {
      const self = this
      self.$store.dispatch('auth/logout')
      self.$router.push({path: '/'})
    }
  }
}
</script>
