<template>
  <div class="row justify-content-center align-items-center mw-100 h-100 m-0 bg-friends">
    <div class="container d-flex align-items-center">
      <div class="card card-container p-5">
        <div v-if="msg.show" :class="`text-center alert alert-${msg.type}`" role="alert">
          {{ msg.description }}
        </div>
        <img id="profile-img" class="profile-img-card mb-4" src="../../static/icons/logo.png" />
        <div class="mb-3">
          <label for="username">Usuário</label>
          <input id="username" autocomplete="username" type="text" v-model="user.username" class="form-control"/>
        </div>
        <div class="mb-4">
          <label for="password">Senha</label>
          <input id="password" autocomplete="password" type="password" v-model="user.password" class="form-control"/>
        </div>
        <button class="btn btn-signin" type="submit" @click.prevent="login">Login</button>
      </div>
    </div>
  </div>
</template>
<script>
/**
 * Login
 */
import Proxy from '@/proxies/AuthenticationProxy'

export default {
  name: 'login',
  data () {
    return {
      msg: {show: false, type: '', description: ''},
      user: {username: '', password: ''}
    }
  },
  methods: {
    login () {
      const self = this
      const proxy = new Proxy()
      const resposta = proxy.login(self.user)
      resposta.then((retorno) => {
        self.msg.description = retorno.message.description
        self.msg.type = retorno.message.type
        self.msg.show = true
        if (self.msg.type === 'success') {
          self.$store.dispatch('auth/login', retorno.data)
          self.$router.push({name: 'index'})
        }
      })
        .catch((erro) => console.error(erro))
    }
  }
}
</script>
