body, html {
    height: 100%;
}

input {
    border-radius: unset;
}

.form-control {
    outline: none;
    color: #606266;
    font-size: 14px;
    height: 42px;
    padding: 0 10px;
    border-radius: unset;
}

.rounded-50 {
    border-radius: 50px;
}

.app {
    justify-content: start;
    height: 100%;
}

.bg-friends {
    background: url('../static/images/background_friends.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.text-small {
    font-size: 0.8rem !important;
}

.header {
    height: 60px;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    border-radius: unset;
    min-width: 35%;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.btn {
    height: 42px;
}

.w-100-down-sm {
    @media (max-width: 575px) {
        width: 100%;
    }
}

.btn-signin {
    background-color: #575756;
    height: 42px;
    border-radius: unset;
    color: #F7F7F7;
}

.border-left {
    border-width: 3px !important;
}

.title-chart {
    font-size: 1.7rem;
    font-weight: 800;
    border-color: #2c3e50 !important;
    padding-left: 0.5rem;
}

// Element custom 

// Radio
.el-radio+.el-radio{
    margin-left: 10px;
    @media (max-width: 560px) {
        margin-left: 0px;
    }
}

.el-message {
    @media (max-width: 575px) {
        width: 100% !important;
    }
}